- 
  var titleMerge = (page.title != '') ? page.title + ' | ' + data.meta.websiteName : data.meta.websiteName;
  var keywordsMerge = (page.keywords != '') ? page.keywords + ', ' + data.meta.keywords : data.meta.keywords;

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title #{titleMerge}
meta(name="viewport", content="width=device-width")
meta(name="description", content=page.description)
meta(name="keywords", content=keywordsMerge)

style.
  .l-page { visibility: hidden; }
link(rel="preload" as="style" href=`${data.meta.path}/css/main.css` onload="this.onload=null;this.rel='stylesheet'")

link(rel="icon" href=`${data.meta.path}/img/common/icon.ico`)
link(rel="apple-touch-icon" sizes="180x180" href=`${data.meta.path}/img/common/app_icon.png`)
meta(name="theme-color", content=data.meta.themeColor)

meta(property="og:title", content=titleMerge)
meta(property="og:site_name", content=data.meta.websiteName)
meta(property="og:type", content="website")
meta(property="og:description", content=page.description)
meta(property="og:url", content=data.meta.domain + data.meta.path + page.path)
meta(property="og:image", content=`${data.meta.domain + data.meta.path}/img/common/${page.ogpImg}`)

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content=titleMerge)
meta(name="twitter:description", content=page.description)
meta(name="twitter:image", content=`${data.meta.domain + data.meta.path}/img/common/${page.ogpImg}`)
